
<div class="container">
	<div class="row">
	</div>
</div>


<form accept-charset="UTF-8" action="/result" method="post">

  <label for="movie">Pick A Flick:</label>
 
    <input id="movie" name="movie" type="text" />
    <input name="commit" type="submit" value="Find It!" /> 

</form>