<!DOCTYPE html>

<html>
  
  <head>
    <link rel="stylesheet" type="text/css"  href="/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <title>Movie Search</title>
  </head>
   
  <body>            
    <p id="title">MOVIE-PEDIA</p>
  		<%= yield %>
  	<div id="marquee">
  		<img src=>
  	</div>
  </body>

</html>




